<!DOCTYPE html>
<html>
  <head>
    <title>
      Jovian Careers
    </title>
    <style>
      h1 {
        font-size:40px;
        font-family:"Roboto",sans-serif;
        font-weight:normal;
        color:rgb(50,50,50);
        text-align:center;
      
      }
      h2 {
        font-size:32px;
        font-family:"Roboto",sans-serif;
        font-weight:normal;
        color:rgb(100,100,100);
        text-align:center;

      }
      #banner {
        width:100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
<h1>Jovian Careers</h1>
 <img id="banner" src="https://82026d84-e6cc-4b5a-8dea-8be8c673fb93-00-261wlbathyygu.kirk.replit.dev/static/banner.jpg" height=320>
    <h2>About Jovian</h2>
    <p>  First paragraph about Jovian</p>
    <h2>Open Positions</h2>
    <p> TODO show the jobs here</p>
    <button>Contact Us</button>
    
  </body>
</html>